<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- spring.xml -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/spring.xml</param-value>
	</context-param>

	<!-- Start Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

</web-app>